<li>
    <article>
        <h2>{{post.data.title}}</h2>
        <p>{{post.date | postDate}}</p>
        <p>{{post.data.description}}</p>
        <a href="{{post.url}}">Continue reading <span>{{post.data.title}}</span></a>
    </article>
</li>