<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if title %} {{title}} - {% endif %}Sean Elliott</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
  {% if '/blog' in page.url %}
  <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
  {% endif %}
  <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {% svgsprite %}
    {% include 'header.njk' %}
    <div class="fancy-main">
      <div class="top-content-angle"></div>
      <main>
        <div class="wrapper">
          {{ content | safe }}
        </div>
      </main>
      <div class="bottom-content-angle"></div>
    </div>
    {% include 'footer.njk' %}

  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>
</html>