<footer class="footer">
    <div class="wrapper">
        <div class="footer__inner">
            <ul class="social-links">
                <li>
                    <a href="https://www.linkedin.com/in/%F0%9F%A4%98sean-elliott%F0%9F%A4%98-2a133a43">
                        {% icon "linkedin", "social-links__icons" %}
                        <span class="sr-only">Sean's LinkedIn</span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/seanelliott86">
                        {% icon "github", "social-links__icons" %}
                        <span class="sr-only">Sean's Github</span>
                    </a>
                </li>
            </ul>
            <p class="copyright">&copy; {% year %} Sean Elliott. All rights reserved</p>
        </div>
    </div>
</footer>