<hr />
<footer>
    <!-- <nav>
        <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Blog</a></li>
        </ul>
    </nav> -->
    <ul>
    <li><a href="https://www.linkedin.com/in/%F0%9F%A4%98sean-elliott%F0%9F%A4%98-2a133a43">Sean's LinkedIn</a></li>
    <li><a href="https://github.com/seanelliott86">Sean's Github</a></li>
    </ul>
    <p>&copy; {% year %} Sean Elliott. All rights reserved Sitemap</p>
</footer>