<header>
    {% if(page.url === '/') %}
    <h1 class="header-name">Hello I'm Sean Elliott</h1>
    {% else %}
    <p class="header-name">Hello I'm Sean Elliott</p>
    {% endif %}
    <p>Frontend UI Developer and Web Accessibility Specialist</p>
</header>
<nav>
    <a href="/">Home</a>
    <a href='/blog/'>Blog</a>
</nav>
<hr />