@use '../../node_modules/modern-normalize/modern-normalize.css';

/* START: my preferred resets on top of modern-normalise */

html {
    line-height: 1.5;
    font-size: 100%;
}

button,
input,
optgroup,
select,
textarea {
    line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition-duration: 0s !important;
        transition-delay: 0s !important;
    }
}

/* END: my preferred resets on top of modern-normalise */

// Base font size
$base-font-size: 16px;

$black: #000000;
$white: #ffffff;
$athensGray: #E5E7EC;
$heather: #BCC4D1;
$manatee: #9499a4;
$shark: #292c2e;
$hoki: #61879E;
$pictonBlue: #46caf5; // https://maketintsandshades.com/#46caf5
$baseFontFamily: Helvetica, Arial, sans-serif;
$headingFontFamily: 'Poppins', Helvetica, Arial, sans-serif;

// Breakpoints
$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    ) !default;

@function rem($value) {
    @if (unitless($value)) {
        $value: $value * 1px;
    }

    @return calc($value / $base-font-size) * 1rem;
}

@function em($value) {
    @if (unitless($value)) {
        $value: $value * 1px;
    }

    @return calc($value / $base-font-size) * 1em;
}

@mixin breakpoint($size, $width-type: min-width) {
    @if $size !='xs' and $size !='sm' and $size !='md' and $size !='lg' and $size !='xl' {
        @error 'Breakpoint mixin allows the following breakpoint sizes xs, sm, md, lg';
    }

    $px-size: map-get($breakpoints, $size
    );
$em-size: em($px-size);

@media ($width-type: $em-size) {
    @content;
}
}

/* START: General site styling */


body {
    font-family: $baseFontFamily;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headingFontFamily;
    font-weight: bold;
}

.svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    vertical-align: middle;
}

code {
    background-color: rgba(242, 242, 242, 1);
    padding: 2px 4px;
    font-family: Menlo, Monaco, "Courier New", Courier, monospace;
    font-weight: 400;
    font-size: 87%;
}

code[class*="language-"],
pre[class*="language-"] {
    white-space: pre-wrap;
    margin-bottom: 0;
    margin-top: 2rem;

    +* {
        margin-top: 2rem;
    }
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
    clip: auto !important;
    clip-path: none !important;
    height: auto !important;
    overflow: visible !important;
    width: auto !important;
    white-space: normal !important;
}

//https://ryanmulligan.dev/blog/layout-breakouts/
.wrapper {
    --gap: 1.5rem;
    --full: minmax(var(--gap), 1fr);
    --content: min(42rem, 100% - var(--gap) * 2);
    --popout: minmax(0, 4rem);

    display: grid;
    grid-template-columns:
        [full-start] var(--full) [popout-start] var(--popout) [content-start] var(--content) [content-end] var(--popout) [popout-end] var(--full) [full-end];

    @include breakpoint('sm') {
        --gap: 2.5rem;
    }

    &.homepage {
        padding: 3rem 0;
    }

    &.alt-bg {
        background-color: #F0F1F2;
    }
}

.wrapper>* {
    grid-column: content;
}

.fullone {
    grid-column: full;
}

.popout {
    grid-column: popout;
}

$focus-color: $pictonBlue;
$focus-color-dark: $black;

@mixin fancyLinkStyle($headerLink: true, $underline: true) {
    $color: null;
    $focusColor: null;

    @if $headerLink ==true {
        $color: $pictonBlue;
        $focusColor: $black;
    }

    @else {
        $color: #0a7894;
        $focusColor: $white;
    }

    color: $color;
    background-image: linear-gradient(to right, $color, $color);
    background-repeat: no-repeat;
    background-size: 100% 7%;
    background-position: 0 90%;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;
    transition-property: background-color,
    color,
    background-size;
    outline: solid 3px transparent;
    outline-offset: 2px;
    text-decoration: none;

    @if $underline ==false {
        background-size: 100% 0%;
        background-position: 0 100%;
    }

    &:active,
    &:focus-visible,
    &:hover {
        background-size: 100% 100%;
        background-image: linear-gradient(to right, $color, $color);
        color: $focusColor;
        transition-duration: 0.25s;
        transition-timing-function: ease-in;
        transition-property: background-color, color, background-size;
    }

    &:focus-visible {
        outline: solid 3px $color;
    }
}

@mixin linkStyles($outlineColor: $pictonBlue, $textColor: $white) {
    color: $textColor;
    outline: solid 3px transparent;
    outline-offset: 16px;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;
    transition-property: all;

    &:focus-visible {
        outline: solid 3px $outlineColor;
        outline-offset: 2px;
    }

    &:not(:focus-visible) {
        transition-duration: 0s;
    }
}

.header-name {
    font-size: 4rem;
    margin: 0;
    font-weight: bold;
    line-height: 1.1;
    font-family: $headingFontFamily;

    a {
        color: $pictonBlue;
        @include fancyLinkStyle;
    }
}

.header-tagline {
    color: $manatee;
    margin: 1rem 0 0 0;
    font-weight: bold;
    line-height: 1.1;
    font-family: $headingFontFamily;

    @media (orientation: landscape) {
        margin: 1rem 0 0 0;
    }
}

.header-cta-link {
    margin: 2rem 0 0 0;

    a {
        color: $pictonBlue;
        font-size: 1.25rem;

        @include fancyLinkStyle;
    }
}

.header {
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 0;
    color: #fff;
    background-image: linear-gradient(23deg, rgba(70, 202, 245, 0.03) 0%, rgba(70, 202, 245, 0.03) 13%, transparent 13%, transparent 80%, rgba(70, 202, 245, 0.04) 80%, rgba(70, 202, 245, 0.04) 100%), linear-gradient(42deg, rgba(70, 202, 245, 0.04) 0%, rgba(70, 202, 245, 0.04) 36%, transparent 36%, transparent 77%, rgba(70, 202, 245, 0.04) 77%, rgba(70, 202, 245, 0.04) 100%), linear-gradient(286deg, rgba(70, 202, 245, 0.0655) 0%, rgba(70, 202, 245, 0.0655) 2%, transparent 2%, transparent 12%, rgba(70, 202, 245, 0.05) 12%, rgba(70, 202, 245, 0.05) 100%), linear-gradient(77deg, rgba(87, 87, 87, 0.05) 0%, rgba(87, 87, 87, 0.05) 18%, transparent 18%, transparent 55%, rgba(247, 247, 247, 0.02) 55%, rgba(247, 247, 247, 0.02) 100%), linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0));
    background-size: 150% 150%;
    background-position: 78% 0%;
    animation: headerBGAnimate 60s ease infinite;
    animation-delay: 2s;

    @media (prefers-reduced-motion: reduce) {
        position: static;
    }
}

@keyframes headerBGAnimate {
    0% {
        // background-position: 78% 0%;
        background-size: 150% 150%;
    }

    50% {
        // background-position: #{$randomMid * 1%} 0%;
        background-size: 350% 350%;
    }

    100% {
        // background-position: 78% 0%;
        background-size: 150% 150%;
    }
}

body {
    padding-bottom: env(safe-area-inset-bottom);
}

.header__inner {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
    min-height: 100vh;

    &.shallow-height {
        padding-top: 3rem;
        padding-bottom: 6rem;
        min-height: auto;
    }

    @media (orientation: landscape) and (hover: none) and (pointer: coarse) {
        justify-content: flex-start;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

.fancy-main {
    position: relative;
    background-color: $white;
    padding-top: 2rem;
    transform: translate3d(0, 0, 0);
}

.footer {
    background-image: linear-gradient(23deg, rgba(70, 202, 245, 0.03) 0%, rgba(70, 202, 245, 0.03) 13%, transparent 13%, transparent 80%, rgba(70, 202, 245, 0.04) 80%, rgba(70, 202, 245, 0.04) 100%), linear-gradient(42deg, rgba(70, 202, 245, 0.04) 0%, rgba(70, 202, 245, 0.04) 36%, transparent 36%, transparent 77%, rgba(70, 202, 245, 0.04) 77%, rgba(70, 202, 245, 0.04) 100%), linear-gradient(286deg, rgba(70, 202, 245, 0.0655) 0%, rgba(70, 202, 245, 0.0655) 2%, transparent 2%, transparent 12%, rgba(70, 202, 245, 0.05) 12%, rgba(70, 202, 245, 0.05) 100%), linear-gradient(77deg, rgba(87, 87, 87, 0.05) 0%, rgba(87, 87, 87, 0.05) 18%, transparent 18%, transparent 55%, rgba(247, 247, 247, 0.02) 55%, rgba(247, 247, 247, 0.02) 100%), linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0));
    padding: 2rem 0;
    color: #fff;
    position: relative;
    z-index: 2;
    transform: translate3d(0, 0, 0);
}

.footer__inner {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;

    @include breakpoint('sm') {
        flex-direction: row;
    }
}

.social-links {
    display: flex;
    margin: 0 0 2rem 0;
    padding: 0;
    list-style: none;

    @include breakpoint('sm') {
        margin-bottom: 0;
    }

    li {
        margin-right: 1rem;
    }

    &__icons,

    a {
        width: 2rem;
        height: 2rem;
        display: block;
        @include linkStyles();
    }
}

.copyright {
    margin: 0;

    @include breakpoint('sm') {
        margin-left: auto;
    }
}

.header__right-effect {
    position: relative;
}

.top-content-angle {
    margin: 0;
    position: relative;
    transform: rotate(180deg);
    z-index: 1;

    &:after,
    &:before {
        content: '';
        height: 100vh;
        right: 1rem;
        position: absolute;
        top: 100%;
        width: 100%;
        transition: clip-path 1s;
    }
}

.top-content-angle:after {
    background: rgba(#fff, 0.50);
    left: 1rem;
    right: auto;
    clip-path: polygon(0% 2%, 100% 6em, 100% 0px);

    @include breakpoint('md') {
        clip-path: polygon(0% 2%, 100% 8em, 100% 0px);
    }
}

.top-content-angle:before {
    background: rgba(#fff, 1);
    clip-path: polygon(-40% 0%, 100% 4em, 100% 0);
    left: 1rem;
    right: auto;
    z-index: 2;

    @include breakpoint('md') {
        clip-path: polygon(36% 0%, 100% 6em, 100% 0);
    }
}

// Article styles
.article-header__inner {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.article__title {
    font-size: 2.5rem;
    order: 1;
    margin: 0;
    line-height: 1.25;
}

.article-snippet__title {
    font-size: 1.5rem;
    line-height: 1.25;
    margin: 0;

    a {
        @include fancyLinkStyle(false);
    }
}

.article__published {
    order: 0;
    margin: 0;
    font-weight: bold;
    line-height: 1.1;
    font-family: $headingFontFamily;
    color: $shark;
}

.article-snippet__published {
    margin: 0.5rem 0 0 0;
    font-weight: bold;
    line-height: 1.1;
    font-family: $headingFontFamily;
}

.article__description {
    order: 2;
    font-weight: bold;
    line-height: 1.1;
    font-family: $headingFontFamily;
    margin: 2rem 0 0 0;
    font-size: 1.2rem;
}

.article-snippet__description {
    margin: 1rem 0 0 0;
    color: $shark;
}

.article__hero {
    padding: 0;
    margin-bottom: 3rem;
}

.hero-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.article__content,
.content,
.article__footer {
    color: $shark;

    * {
        margin: 0;
    }

    *+* {
        margin-top: 1rem;
    }

    *+h2,
    *+h3,
    *+h4,
    *+h5 {
        margin-top: 2.5rem;
        color: $black;
    }

    li {
        margin-top: 0.25em;
    }

    a {
        @include fancyLinkStyle(false);
    }

    blockquote {
        display: block;
        border-width: 2px 0;
        border-style: solid;
        border-color: #eee;
        padding: 1rem 2rem;
        margin: 3.5rem 0;
        position: relative;
        font-size: 1.25rem;
        font-style: italic;
        color: #666;
    }

    blockquote:before {
        content: '\201C';
        position: absolute;
        top: 0em;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        width: 3rem;
        height: 2rem;
        font-size: 6rem;
        font: 6rem/1em 'PT Sans', sans-serif;
        color: #666;
        text-align: center;
    }

    hr {
        border: 0;
        height: 1px;
        width: 10%;
        position: relative;
        margin: 30px auto;
        background: #0a7894;
        overflow: visible;

        &:before {
            content: "";
            width: 6px;
            height: 6px;
            background: #0a7894;
            display: inline-block;
            border: 2px solid #0a7894;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: 0;
            transform: translate(-50%, -50%);
        }
    }

    p:has(img) {
        margin-top: 2rem;

        +* {
            margin-top: 2rem;
        }

        img {
            margin: 0 auto;
        }
    }
}

.article__summary {
    font-style: italic;
    font-size: 1.1rem;
    padding-bottom: 1rem;
}

.article__footer {
    margin-bottom: 4rem;
}

.article-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    &__item {
        border: solid 2px #F0F1F2;
        padding: 1rem;
        background-color: $white;

        &+* {
            margin-top: 2rem;
        }
    }
}

.article-snippet__cta a {
    @include fancyLinkStyle(false, $white);
}

.intro {

    img {
        max-width: 18rem;
        border: solid 8px #F0F1F2;
    }

    p {
        max-width: 75ch;

        @include breakpoint('md') {
            max-width: 60ch;
        }
    }

    @include breakpoint('md') {
        img {
            float: right;
            width: 35%;
            max-width: 25rem;
            margin-left: 2rem;
            margin-bottom: 5.5rem;
            margin-top: 5.5rem;
        }
    }
}