---
title: Blog
layout: 'base.njk'
---

<div class="wrapper">
    <h1>Recent articles</h1>
    <ul class="article-list">

        {%- for post in collections.post -%}
            {% include 'article-snippet.njk' %}
        {%- endfor -%}

    </ul>
</div>