---
title: Blog
layout: 'base.njk'
---

<section class="section content">
    <h1>Recent articles</h1>
    <ul class="article-list">

        {%- for post in collections.post | reverse -%}
        {% include 'article-snippet.njk' %}
        {%- endfor -%}

    </ul>
</section>