---
layout: 'base.njk'
---
<article>
  <h2>What's going on here...?</h2>

  <p>Well, I figured it was about damn time I made myself a website. I've attempted this a few times but for several
    reasons, I've never gotten close to finishing (sometimes even starting).</p>

  <p>On reflection I can break it down to a few things, one is my own damn perfectionism. I've always started
    designing the look and feel before doing anything else. The aim has always been to design the best developer
    blog/website there is straight away... well I suck at design and what does the best mean to me... even when I
    was
    designing as part of my job and thought I was good, I still sucked so I never got very far.
  </p>
  <p>Then there is my stubborn pride, this is maybe the worst part. This is where I just can't bring myself to just
    buy a theme or template and skin it. There is some little voice in my head that makes me think I'm a terrible
    developer if I can't do it myself. By the way all power to developers who do use templates, I'm just a stubborn
    idiot and this is no reflection on you at all.</p>
  <p>The final nail in the Sean website coffin was the technology, as much as I love vanilla HTML and CSS, it's a
    pain
    in the ass to have to manually create content pages and update recent article lists blaaah blah blah everything.
  <p><em>"But Sean, Why don't you use a CMS?"</em> I hear you say.</p>
  <p>I know there are plenty of CMSs out there, I've built heaps of sites using free and paid ones throughout my
    career. But when it comes to adding one to my website it's got to be super simple to get up and going. Even when
    I
    was doing the CMS set up and integration myself as part of my job and had it all down to a "fine art", any
    little
    problem when I was getting my website set up and the Sean website train derails into a firey miserable mess,
    followed by a massive tantrum and giving up... <strong>CHOO CHOO CRAAAAAAASH!</strong>
  </p>
  <p>But now things have gotten crazy good out there, static sites are back in fashion and headless CMS is this
    fantastic thing that exists!</p>
  <p>So this is me starting my personal website journey again.</p>

  <h3>How do I plan to power this site?</h3>
  <ul>
    <li><a href="https://www.11ty.dev/">11ty</a> as the static site generator, almost zero config which is amazing!
    </li>
    <li><a href="https://sass-lang.com/">SASS</a> because I like it and wanted some more "advanced" css stuff</li>
    <li><a href="https://www.netlify.com/">Netlify</a> and <a href="https://www.netlifycms.org/">Netflify CMS</a> as
      the headless CMS of choice and build and publish tool</li>
    <li><a href="https://github.com/">Github</a> where my code will live</li>
  </ul>

  <p>That's the core of this website at the moment it might change depending on what problems I have to deal with
    but
    so far so good...</p>

  <h3>What about the design?</h3>

  <p>Good question do you like it? I've gone for a minimalist approach I call it "Almost Browser Default" it's the
    newest design everyone will want. But in all seriousness, I'm going to keep it simple and slowly chip away. The
    beauty of HTML and CSS is that with some basic markup and structure I should be able to "theme" this site
    without
    too much rebuilding of the underlying markup. Plus what's more accessible than text on a page?
  </p>

  <p>So keep checking in, I'm hoping to make some changes at a consistent pace. If you don't see any changes in a
    while maybe reach out and check in with me and make sure the Sean website train is still on the tracks..</p>
</article>
<hr />
<article>
  <h2>Todo list:</h2>
  <ul>
    <li><strong>DONE!</strong> - Add netlify cms</li>
    <li><strong>DONE!</strong> - Setup template system for markup</li>
    <li><strong>DONE!</strong> - Bring over articles from medium</li>
    <li><strong>IN PROGRESS!</strong> - Work on design</li>
    <li>Add another item to my list</li>
  </ul>
</article>