---
title: Resume
layout: 'base.njk'
eleventyExcludeFromCollections: true
---

<div class="wrapper">
    <div class="popout">
        <section>
            <h3>Summary</h3>
            <p>I am a Frontend UI Developer and Web Accessibility Specialist at Service NSW, bringing over 17 years of
                expertise in web technology. With a deep passion for accessibility and creating inclusive user
                experiences, I’ve spent the last 8 years specialising in component libraries and design systems.
            </p>
            <p>I've led the engineering efforts at the Service NSW GEL team, I contributed to the Lendi UI Design System
                team, launched the NSW Digital Design System, and worked on Bunnings' E-commerce platform, collaborating
                with cross-functional teams to deliver cart and payment components that enhanced the shopping
                experience.
            </p>
        </section>
        <section class="experience">
            <ol class="experience__timeline">
                <li class="experience__timeline-item">
                    <div class="experience__content">
                        <span class="experience__bullet"></span>
                        <h3>Principal Engineer | Service NSW - Design System</h3>
                        <p class="experience__date">September 2023 - Present</p>
                        <div class="experience__desc">
                            <p>Upon rejoining Service NSW, my main focus was to lead the engineering team in a major
                                overhaul of
                                the
                                Service NSW GEL component library, transitioning it to a monorepo architecture.
                                Alongside
                                these
                                technical improvements, we were responsible for rolling out a new NSW brand-compliant
                                theme
                                across
                                the organization. In addition to upgrading components and addressing support requests, I
                                took on
                                a
                                proactive role in improving accessibility across teams. This involved leading
                                accessibility
                                initiatives beyond my core responsibilities, such as presenting in guilds and conducting
                                lunch-and-learn sessions to foster accessibility awareness and best practices.</p>
                            <p>The Service NSW GEL is built with a modern tech stack, including React (TypeScript),
                                Styled
                                Components, React Testing Library, JEST, Axe, TurboRepo, and Changesets.</p>

                            <p>Project: SNSW Component Library Storybook</p>
                        </div>
                    </div>
                </li>
                <li class="experience__timeline-item">
                    <div class="experience__content">
                        <span class="experience__bullet"></span>
                        <h3>Principal Engineer | Service NSW - Design System</h3>
                        <p class="experience__date">September 2023 - Present</p>
                        <div class="experience__desc">
                            <p>Upon rejoining Service NSW, my main focus was to lead the engineering team in a major
                                overhaul of
                                the
                                Service NSW GEL component library, transitioning it to a monorepo architecture.
                                Alongside
                                these
                                technical improvements, we were responsible for rolling out a new NSW brand-compliant
                                theme
                                across
                                the organization. In addition to upgrading components and addressing support requests, I
                                took on
                                a
                                proactive role in improving accessibility across teams. This involved leading
                                accessibility
                                initiatives beyond my core responsibilities, such as presenting in guilds and conducting
                                lunch-and-learn sessions to foster accessibility awareness and best practices.</p>
                            <p>The Service NSW GEL is built with a modern tech stack, including React (TypeScript),
                                Styled
                                Components, React Testing Library, JEST, Axe, TurboRepo, and Changesets.</p>

                            <p>Project: SNSW Component Library Storybook</p>
                        </div>
                    </div>
                </li>
                <li class="experience__timeline-item">
                    <div class="experience__content">
                        <span class="experience__bullet"></span>
                        <h3>Principal Engineer | Service NSW - Design System</h3>
                        <p class="experience__date">September 2023 - Present</p>
                        <div class="experience__desc">
                            <p>Upon rejoining Service NSW, my main focus was to lead the engineering team in a major
                                overhaul of
                                the
                                Service NSW GEL component library, transitioning it to a monorepo architecture.
                                Alongside
                                these
                                technical improvements, we were responsible for rolling out a new NSW brand-compliant
                                theme
                                across
                                the organization. In addition to upgrading components and addressing support requests, I
                                took on
                                a
                                proactive role in improving accessibility across teams. This involved leading
                                accessibility
                                initiatives beyond my core responsibilities, such as presenting in guilds and conducting
                                lunch-and-learn sessions to foster accessibility awareness and best practices.</p>
                            <p>The Service NSW GEL is built with a modern tech stack, including React (TypeScript),
                                Styled
                                Components, React Testing Library, JEST, Axe, TurboRepo, and Changesets.</p>

                            <p>Project: SNSW Component Library Storybook</p>
                        </div>
                    </div>
                </li>
            </ol>
        </section>
        <section>
            <h3>Skills</h3>
            <ul>
                <li>HTML</li>
                <li>Vanilla JavaScript, Typescript</li>
                <li>Web Accessibility (WCAG, WAI-ARIA)</li>
                <li>Webpack, 11ty, Grunt, Gulp, Node JS, TurboRepo</li>
                <li>Figma, Sketch, Photoshop</li>
                <li>Cross Browser Optimization</li>
                <li>Agile Methodologies</li>
                <li>React, Redux, React Testing Library, aXe</li>
                <li>Sitecore, AEM, Kentico</li>
                <li>GitHub, BitBucket, GitLab, Jira, Confluence</li>
                <li>Conducting accessibility audits, and testing with assistive technology (JAWS, NVDA, Voiceover etc)
                </li>
                <li>CSS, SASS, LESS, Styled Components</li>
            </ul>
        </section>
    </div>
</div>